
/* Page attributes




/* Container holding the image and the text */
.header {
    position: relative;

  }

.header img {
    width: 100%;
    height: auto;
    opacity: 60%;
}

.title {

    position: absolute;
    bottom: 5px;
    left: 35%;
    transform: translate(-50%, -0%);
    color: rgb(2,55,29);
    text-align: left;
    width: 80%;
  }

  .title h1 {
    margin: 0;
    padding: 80px 45px;
    font-size: 60px;
    font-weight: bold;
    color: rgb(2, 55, 29);
    font-family: Arial, Helvetica, sans-serif;
  }

  .title p{
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 0px 45px;
    color: rgb(0, 0, 0);


  }


.containerIntro {

    margin: auto;
    width: 80%;
    padding: 50px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

  }


  #ai2html {

  }