
/* Page attributes




/* Container holding the image and the text */
.header {
    position: relative;
    width: 80%;
    margin-left: 0%;
    margin-right: 0%;


  }

.header img {
    position: center;
    width: 100%;
    height: auto;
    opacity: 90%;
}

  .title h1 {
    padding-top: 0%;
    padding-left: 5%;
    font-size: 5vw;
    font-weight: bold;
    color: rgb(2, 55, 29);
    font-family: Arial, Helvetica, sans-serif;
  }

  .title p{

    font-size: 1.5vw;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 0% 5%;
    color: rgb(0, 0, 0);


  }


.containerIntro {

    margin: auto;
    margin-top: 10%;
    width: 80%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

  }


